# These are wild cards to be backed up
!*.yaml
!.gitignore
!*.md
!*.sh
!*.js*

# These are ignored files
secrets.yaml
*.db
.ssh
.storage
.cloud
.goolge.token
home-assistant.log
id_rsa*
*.conf
*.pem
lutron_caseta*.pem
wyze_config.ini
.tobin@thedunnhome.com.august.conf
